.posts-index {
  .row {
    display: flex;
    .about-author {
      order: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 2rem;
      margin-top: 1rem;
      padding: 3rem 2rem;
      text-align: center;
      .author-img-wrap {
        position: relative;
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
        min-width: 6rem;
        min-height: 6rem;
        overflow: hidden;
        img {
          position: absolute;
          top: 54%;
          height: 50%;
          transform: translate(-50%,-50%);
          width: 12rem;
          height: auto;
          left: 39%;
        }
      }
      @include max-1199 {
        margin-bottom: 0;
        margin-top: 0;
        padding: 1rem;
      }
    }
    article {
      a {
        width: 100%;
        height: 100%;
        display: inline-block;
        .frontpage-thumbnail {
          width: 100%;
          height: 12rem;
          overflow: hidden;
          position: relative;
          img {
            position: absolute;
            height: 100%;
            width: auto;
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
        .entry-header {
            width: 100%;
        }
        .entry-content {
            width: 100%;
        }
      }
      &.post_1 {
        order: 1;
        position: relative;
        height: 50vh;
        margin-bottom: 2rem;
        .frontpage-thumbnail {
          height: 100%;
          width: 100%;
        }
        .index-text {
          position: absolute;
          height: 100%;
          width: calc(100% - 30px);
          color: #FFF;
          left: 0;
          bottom: 0;
          background: rgba(0,0,0,0.6);
          margin-left: 15px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: column;
          padding: 0 1rem;
          font-weight: 600;
          transition: background .4s ease-out;
          &:hover {
            background: rgba(0,0,0,0.4);
          }
        }
        @include max-1199 {
          margin-bottom: 1rem;
        }
      }
      &.post_2 {
        order: 3;
      }
      &.post_3 {
        order: 4;
      }
      &.post_4 {
        order: 5;
      }
      &.post_5 {
        order: 6;
      }
      &.post_6 {
        order: 7;
      }
      &.post_7 {
        order: 8;
      }
    }
  }
}
